* {
    text-align: center;
}
html, body {
    /* Keep body full screen */
    margin: 0 auto;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
header em {
    font-size: 150px;
}
div {
    min-height: 300px;
}

img {
    width: 200px;
    padding: 20px;
    border-radius: 30%;
}
span {
    font-size: 150px;
}
button {
    border-radius: 10px;
    background-color: inherit;
    width: 100px;
}
.icon:hover {
    transition: 200ms;
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 10px 16px teal;
}

.highlight { 
    box-shadow: 10px 16px teal;
}
.hide {
    visibility: hidden;
}

