/* CONTAINERS*/
* {
  text-align: center;
}
html,
body {
  /* Keep body full screen */
  font-size: 1vw;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

/* FONTS */
header em {
  font-size: 4em;
}
span {
  font-size: 4em;
}

/* IMGS */
img {
  max-width: 13em;
  padding: 20px;
  border-radius: 30%;
}

.icon:hover {
  transition: 200ms;
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 1em 1em teal;
}
.highlight {
  box-shadow: 1em 1em teal;
}
.hide {
  display: none;
}
#computer {
  border-radius: 0;
}

/* BUTTON */
button {
  margin-top: 3em;
  border-radius: 10px;
  background-color: black;
  color: whitesmoke;
  min-height: 3em;
  width: 15em;
  font-weight: bolder;
}

/* MEDIA Phone */
@media (max-width: 600px) {
  .user_container {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .btn {
    background-color: white;
    color: black;
    width: fit-content;
  }
}
@media (max-width: 850px) {
  img {
    max-width: 20%;
  }
}
